<form method="post" action="{{ path('app_admin_web_category_article_delete', {'id': category_article.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category_article.id) }}">
    <button class="btn">Delete</button>
</form>
