{% extends 'adminWeb.html.twig' %}

{% block title %}Edit CategoryArticle{% endblock %}

{% block body %}
    <h1 class="title_level_1">Edition des catégories d'article</h1>
    <div class="row">
    {{ include('admin_web_category_article/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('app_admin_web_category_article_index') }}"><button class="active">Retour a la liste</button></a>
    </div>
    {{ include('admin_web_category_article/_delete_form.html.twig') }}
{% endblock %}
