{% extends 'adminWeb.html.twig' %}

{% block title %}CategoryArticle index{% endblock %}

{% block body %}
    <h1 class="title_level_1">Catégories d'articles</h1>
    <div class="row">
   {% include "_part/asideAdmin.html.twig" %}
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for category_article in category_articles %}
                <tr>
                    <td>{{ category_article.id }}</td>
                    <td>{{ category_article.name }}</td>
                    <td>{{ category_article.description }}</td>
                    <td>
                <div class="inline">
                        <a href="{{ path('app_admin_web_category_article_show', {'id': category_article.id}) }}">voir</a>
                        <a href="{{ path('app_admin_web_category_article_edit', {'id': category_article.id}) }}">édition</a>
                </div>  
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ path('app_admin_web_category_article_new') }}"><button class="active">Create new</button></a>
{% endblock %}
