{% extends 'base.html.twig' %}

{% block title %}CategoryArticle{% endblock %}

{% block body %}
    <h1 class="title_level_1">Catégorie d'article</h1>
    <div class="row">
        {% include "_part/asideAdmin.html.twig" %}
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ category_article.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ category_article.name }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ category_article.description }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <a href="{{ path('app_admin_web_category_article_index') }}"><button class="active">Retour a la liste</button></a>

    <a href="{{ path('app_admin_web_category_article_edit', {'id': category_article.id}) }}"><button class="active">édition</button></a>

    {{ include('admin_web_category_article/_delete_form.html.twig') }}
{% endblock %}
