{% extends 'adminWeb.html.twig' %}

{% block title %}Services index{% endblock %}

{% block body %}
    <h1 class="title_level_1">Liste des services index</h1>
    <div class="row">
   {% include "_part/asideAdmin.html.twig" %}
        <table class="table">
            <thead>
                <tr>
       
                    <th>Name</th>
                    <th>Content</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for service in services %}
                <tr>
        
                    <td>{{ service.name }}</td>
                    <td>{{ service.content }}</td>
                    <td>
                    <div class="inline">
                        <a href="{{ path('app_admin_web_services_show', {'id': service.id}) }}">show</a>
                        <a href="{{ path('app_admin_web_services_edit', {'id': service.id}) }}">edit</a>
                    </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ path('app_admin_web_services_new') }}"><button  class="active" >Créer nouveau</button></a>
{% endblock %}
