{% extends 'adminWeb.html.twig' %}

{% block title %}New Services{% endblock %}

{% block body %}
    <h1 class="title_level_1">Create new Services</h1>
    <div class="row">
   {% include "_part/asideAdmin.html.twig" %}
    {{ include('admin_web_services/_form.html.twig') }}
    </div>
    <a href="{{ path('app_admin_web_services_index') }}"><button class="active">Retour a la liste</button></a>
{% endblock %}
