{% extends 'adminWeb.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
    <h1 class="title_level_1">Services</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ service.name }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ service.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_web_services_index') }}">back to list</a>

    <a href="{{ path('app_admin_web_services_edit', {'id': service.id}) }}">edit</a>

    {{ include('admin_web_services/_delete_form.html.twig') }}
{% endblock %}
