    <aside>
        <a href="{{ path('app_admin_web_general_settings_index') }}"><button  {% if active == 'general_settings'  %} class="active" {% endif %}>Réglages généraux du blog</button> </a> 
        <a href=" {{ path('app_admin_web_article_index') }}"><button  {% if active == 'articles'  %} class="active" {% endif %}>Articles</button> </a>
        <a href="{{ path('app_admin_web_category_article_index') }}"><button  {% if active == 'CategArticle'  %} class="active" {% endif %}>Catégories d'article</button> </a>
        <a href="{{ path('app_admin_web_services_index') }}"><button  {% if active == 'services'  %} class="active" {% endif %}>Listes des services</button> </a>
        <a href=" {{ path('app_admin_web_custom_page_index') }}"><button  {% if active == 'custom_page'  %} class="active" {% endif %}>Custom Page</button> </a>
        <a href=" {{ path('app_admin_web_project_index') }}"><button  {% if active == 'project'  %} class="active" {% endif %}>Projets</button> </a>
        <a href=" {{ path('app_admin_web_category_project_index') }}"><button  {% if active == 'category_projects'  %} class="active" {% endif %}>Catégories de projets</button> </a>
        <a href=" {{ path('app_admin_web_contact_index') }}"><button  {% if active == 'contact'  %} class="active" {% endif %}>Contact</button> </a>
        <a href=" {{ path('app_admin_web_competence_index') }}"><button  {% if active == 'competences'  %} class="active" {% endif %}>Competences</button> </a>
        <a href=" {{ path('app_admin_web_category_competence_index') }}"><button  {% if active == 'category_competences'  %} class="active" {% endif %}>Categories de Competences</button> </a>
       
        <a href=" {{ path('app_main') }}"><button  {% if active == 'home'  %} class="active" {% endif %}>Retour a l'accueil</button> </a>
  
    </aside>

    