<footer>

    <div class="logo footer">
        <h3>ducrocq <span>david</span></h3>
        <h3><span>French </span>DEV.</h3>
    </div> 
    <div class="row">
        <ul class="footer__nav">

            <li><a href="{{ path('app_project_index')}}">Project</a> </li>
            <li>  <a href="{{ path('app_article_index')}}">Articles</a></li>
            <li><a href="{{ path('app_main')}}#contact">contact</a></li>
           </ul>
       
           <ul class="footer__nav">

            {% for page in CustomPages %}
               <li><a href="{{ path('app_custom_page', {'url': page.url}) }}"> {{page.title}}</a></li>     
            {% endfor %}
               <li><a target="_blank" href="https://symfony.com/" >Build with <img src=" {{ asset('images/categ/symfony_black_02.png') | imagine_filter('logo_small') }} " alt=""></a></li>
           </ul>
    </div>

</footer>