<body>


<header>
    <div class="wrapper">

        <div class="logo">
           <a href="{{ path('app_main')}} "><h1>ducrocq <span>david</span></h1>
        </div> </a> 
        <nav>
            <div class="burger">
                <div class="top"></div>
                <div class="middle"></div>
                <div class="bottom"></div>
            </div>
            <div class="menu close">
                <ul>
                    <li class="title__level__2">  <a href="{{ path('app_main')}}">Accueil</a> </li>
                    <li class="title__level__2">  <a href="{{ path('app_project_index')}}">Projets</a> </li>
                    <li class="title__level__2">  <a href="{{ path('app_article_index')}}">Articles</a></li>
                    {% if app.user %}
                     	{% for role in app.user.roles %}
						    {% if role == "ROLE_ADMIN" %}
                    <li class="title__level__2">  <a href=" {{path('app_logout')}}">déconnexion</a> </li>
                    <li class="title__level__2"><a href="{{ path('app_admin_web_general_settings_index') }}">backOffice </a></li>  

                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</header>