<section class="services__wrapp">
    <h2 class="title_level_1">Services</h2>
    <div class="wrapper__row">
        <article class="article__large service" >
            <div class="services__col">
                <h3 class="title__level__2"> {{generalSettings.servicesTitle}} </h3>
                <p> {{generalSettings.servicesContent}} </p>
            </div>
            <div class="services">
                {% for service in services %}
                            <div class="service">
                            <h3>{{service.name}}</h3>
                            <p>{{service.content | raw}} </p>
                            </div>
                {% endfor %}
            </div>
        </article>
    </div>
</section>