{% extends 'adminWeb.html.twig' %}

{% block title %}Competence index{% endblock %}

{% block body %}
    <h1 class="title_level_1">Competence index</h1>
   <div class="row">
    {% include "_part/asideAdmin.html.twig" %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Level</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for competence in competences %}
            <tr>
                <td>{{ competence.id }}</td>
                <td>{{ competence.name }}</td>
                <td>{{ competence.level }}</td>
                <td>
                    <div class="inline">
                        <a href="{{ path('app_admin_web_competence_show', {'id': competence.id}) }}">show</a>
                        <a href="{{ path('app_admin_web_competence_edit', {'id': competence.id}) }}">edit</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <a href="{{ path('app_admin_web_competence_new') }}"><button  class="active" >Créer nouveau</button></a>
{% endblock %}
