{% extends 'adminWeb.html.twig' %}

{% block title %}New Competence{% endblock %}

{% block body %}
  <h1 class="title_level_1">Create new Competence</h1>
    <div class="row">
    {% include "_part/asideAdmin.html.twig" %}
    {{ include('admin_web_competence/_form.html.twig') }}

    <a href="{{ path('app_admin_web_competence_index') }}"><button class="active">Retour a la liste</button></a>
    </div>
  
{% endblock %}
