{% extends 'base.html.twig' %}

{% block title %}Competence{% endblock %}

{% block body %}
    <h1>Competence</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ competence.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ competence.name }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ competence.level }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_web_competence_index') }}">back to list</a>

    <a href="{{ path('app_admin_web_competence_edit', {'id': competence.id}) }}">edit</a>

    {{ include('admin_web_competence/_delete_form.html.twig') }}
{% endblock %}
