{% extends 'base.html.twig' %}
{% block title %}{{ generalSettings.title}} - {{ generalSettings.slogan}}{% endblock %}

{% block body %}
{% include "_part/navigation.html.twig" %}
<section class="hero__wrapper">
    <article class="article__container">
        <div class="article_text">
            <h2 class="article__title">Welcome!</h2>
            <p class="article__content"> {% if generalSettings.descriptionHome %}
                {{generalSettings.descriptionHome | raw}}  {% else %} <p>Pas de contenu</p>
            {% endif %}  </p>
        </div>
        <div class="article__btn">
            <button class="active"><a href="{{ generalSettings.link }}"><i class="bi bi-envelope"> </i>Contact</a></button>
            <button ><a href="{{ generalSettings.linkGit }}" target="_blank"><i class="bi bi-git"> </i> GIT</a></button>
            <button ><a href="{{ generalSettings.linkLinkedIn }}" target="_blank"><i class="bi bi-linkedin"> </i>  LinkedIn</a></button>
        </div>
    </article>

    <div class="article_image">
    {% if generalSettings.logo %}
            <img src="{{ vich_uploader_asset(generalSettings, 'imageFile')}}" alt="">
    {% else %}
        <img src="{{ asset('images/logo.png') | imagine_filter('logo') }}" alt="">
    {% endif %}
    </div>
</section>

{% include "_part/services.html.twig" %}

<section  class="project__wrapper">
    <h2 class="title_level_1">Competence</h2>
    <div class="cards__row">

           
        <div class="card__primary__competence">
            <div class="card__content">
                <h3 class="title__level__3"> Language</h3>
                <ul>
                {% for language in languages %}
                    <li> {{language.name}}  </li>
                {% endfor %}
        
                </ul>
    
            </div>
        </div>
                   
        <div class="card__primary__competence">
            <div class="card__content">
                <h3 class="title__level__3"> Framework</h3>
                <ul>
        {% for framework in Frameworks %}
                    <li> {{framework.name}}  </li>

        {% endfor %}
        
                </ul>
    
            </div>
        </div>
               <div class="card__primary__competence">
            <div class="card__content">
                <h3 class="title__level__3"> Logiciels</h3>
                <ul>
        {% for logiciel in Logiciels %}
                    <li> {{logiciel.name}}  </li>

        {% endfor %}
        
                </ul>
    
            </div>
        </div>
        
    </div> 
</section>

<section  class="project__wrapper">
    <h2 class="title_level_1">project</h2>
    <div class="cards__row">
        {% for project in projects %}
            <div class="card__primary">
                <img src="{{  vich_uploader_asset(project.categoryProject, 'imageFile') }}" alt="" class="background__absolute">
                <div class="card__content">
                    <h3 class="title__level__2">{{project.name}}</h3>
                        <small>dev with <span class="tertiary__color">{{project.categoryProject.name}}</span></small>
                    {% if project.gitRepo %}
                        <a href=" {{project.gitRepo}}" target="_blank"><i class="bi bi-git"> </i>GIT REPOSITORY</a>
                    {% endif %}
                    {% if project.linkDemo %}
                        <a href=" {{project.linkDemo}}" target="_blank">DEMO</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div> 
    <div class="link__row">
        <a href="{{ path('app_project_index')}}">Tous les projets</a>
    </div>
</section>

<section class="article__wrapper">
    <h2 class="title_level_1">Articles</h2>
    <div class="wrapper__row">
        <div class="article__row">

        {% for article in articles | slice(0,1) %}
            <article class="article__large" >
                <img src="{{  vich_uploader_asset(article, 'imageFile') | imagine_filter('thumb_large') }}" alt="{{ article.alternativeText}}" class="background__absolute lighter">
                <div class="article__content__wrapp">
                    <h3 class="title__level__2"> {{article.title}} </h3>
                    <small>Catégory <span class="tertiary__color">{{article.category.name}}</span></small> 
                    {{ article.content |u.truncate(50)|raw }} ...
                    <a href=" {{ path('app_article_show', {'id': article.id}) }} "><button class="active">Lire la suite</button></a>
                </div>
            </article>
        {% endfor %}
        </div>
        <div class="article__col">

        {% for article in articles | slice(1,2) %}
               <article class="article__small" >
                <img src="{{  vich_uploader_asset(article, 'imageFile')  | imagine_filter('thumb_small') }}" alt="{{ article.alternativeText}}" class="background__absolute lighter">
                <div class="article__content__wrapp">
                    <h3 class="title__level__2">{{article.title}}</h3>
                    <small>Catégory <span class="tertiary__color"> {{article.category.name}} </span></small> 
                   <a href=" {{ path('app_article_show', {'id': article.id}) }} "><button class="active">Lire la suite</button></a>

                </div>
            </article> 
        {% endfor %}      
        </div>
        <div class="link__row">
            <a href="{{ path('app_article_index')}}">Tous les articles</a>
        </div>

    </div>

</section>

<section class="article__wrapper">
    <h2 class="title_level_1" id="contact"><i class="bi bi-envelope"></i>Contact</h2>

        <div class="wrapper__row" >
            <article class="article__large contact__wrapp" >
                <div>
                    <h3 class="title__level__2">Vous avez un<span class="tertiary__color">projet </span>?</h3>
                    {% for message in app.flashes('success') %}
                        <h2 class="title__level__3"> <i class="bi bi-envelope-check"></i> {{ message }}</h2> 
                    {% endfor %}
                </div>
            
            {{ form(form, {'attr' :{'class': 'contact__form'}})}}
            
            </article>
        </div>
</section>
{% endblock %}

{% block footer %}
   {% include "_part/footer.html.twig" %}
{% endblock %} 
