{% extends 'adminWeb.html.twig' %}

{% block title %}Liste des contacts{% endblock %}

{% block body %}
  <h1 class="title_level_1">Liste des contacts</h1>
    <div class="row">
    {% include "_part/asideAdmin.html.twig" %}
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>FullName</th>
                    <th>Email</th>
                    <th>Subject</th>
                    <th>Message</th>
                    <th>CreatedAt</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.id }}</td>
                    <td>{{ contact.fullName }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.subject }}</td>
                    <td>{{ contact.message }}</td>
                    <td>{{ contact.createdAt ? contact.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                    <div class="inline">
                        <a href="{{ path('app_admin_web_contact_show', {'id': contact.id}) }}">show</a>
                        <a href="{{ path('app_admin_web_contact_edit', {'id': contact.id}) }}">edit</a>
                    </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
