{% extends 'adminWeb.html.twig' %}

{% block title %}Edit Project{% endblock %}

{% block body %}
    <h1 class="title_level_1">Edit Project</h1>
    <div class="row">
    {% include "_part/asideAdmin.html.twig" %}
    {{ include('admin_web_project/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
    <a href="{{ path('app_admin_web_project_index') }}"><button class="active">Retour a la liste</button></a>
    {{ include('admin_web_project/_delete_form.html.twig') }}
{% endblock %}
