{% extends 'adminWeb.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h1 class="title_level_1">Project index</h1>
    <div class="row">
    {% include "_part/asideAdmin.html.twig" %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>GitRepo</th>
                <th>LinkDemo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.gitRepo }}</td>
                <td>{{ project.linkDemo }}</td>
                <td>
                    <div class="inline">
                        <a href="{{ path('app_admin_web_project_show', {'id': project.id}) }}">show</a>
                        <a href="{{ path('app_admin_web_project_edit', {'id': project.id}) }}">edit</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <a href="{{ path('app_admin_web_project_new') }}"><button class="active">Créer nouveau project</button></a>
{% endblock %}
