{% extends 'adminWeb.html.twig' %}

{% block title %}New Project{% endblock %}

{% block body %}
    <h1>Create new Project</h1>

    {{ include('admin_web_project/_form.html.twig') }}

    <a href="{{ path('app_admin_web_project_index') }}">back to list</a>
{% endblock %}
