{% extends 'adminWeb.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <h1>Project</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ project.name }}</td>
            </tr>
            <tr>
                <th>GitRepo</th>
                <td>{{ project.gitRepo }}</td>
            </tr>
            <tr>
                <th>LinkDemo</th>
                <td>{{ project.linkDemo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_web_project_index') }}">back to list</a>

    <a href="{{ path('app_admin_web_project_edit', {'id': project.id}) }}">edit</a>

    {{ include('admin_web_project/_delete_form.html.twig') }}
{% endblock %}
