<form method="post" action="{{ path('app_admin_web_general_settings_delete', {'id': general_setting.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ general_setting.id) }}">
    <button class="btn">Delete</button>
</form>
