{% extends 'adminWeb.html.twig' %}

{% block title %}Edit GeneralSettings{% endblock %}

{% block body %}
    <h1>Edit GeneralSettings</h1>

    {{ include('admin_web_general_settings/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_web_general_settings_index') }}">back to list</a>

    {{ include('admin_web_general_settings/_delete_form.html.twig') }}
{% endblock %}
