{% extends 'adminWeb.html.twig' %}

{% block title %}GeneralSettings index{% endblock %}

{% block body %}
    <h1 class="title_level_1">GeneralSettings index</h1>
    
    
    <div class="row">

   {% include "_part/asideAdmin.html.twig" %}
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Slogan</th>
                <th>Logo</th>
                <th>Link</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for general_setting in general_settings %}
            <tr>
                <td>{{ general_setting.Title }}</td>
                <td>{{ general_setting.slogan }}</td>
                <td>{{ general_setting.logo }}</td>
                <td>{{ general_setting.link }}</td>
                <td>
                <div class="inline">
                    <a href="{{ path('app_admin_web_general_settings_edit', {'id': general_setting.id}) }}">edit</a>
                    <a href="{{ path('app_admin_web_general_settings_show', {'id': general_setting.id}) }}">show</a>
                </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    </div>



    <a href="{{ path('app_admin_web_general_settings_new') }}"><button class="active">Create new</button></a>  
{% endblock %}
