{% extends 'adminWeb.html.twig' %}

{% block title %}New GeneralSettings{% endblock %}

{% block body %}
    <h1>Create new GeneralSettings</h1>

    {{ include('admin_web_general_settings/_form.html.twig') }}

    <a href="{{ path('app_admin_web_general_settings_index') }}">back to list</a>
{% endblock %}
