{% extends 'adminWeb.html.twig' %}

{% block title %}GeneralSettings{% endblock %}

{% block body %}
    <h1>GeneralSettings</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ general_setting.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ general_setting.Title }}</td>
            </tr>
            <tr>
                <th>Slogan</th>
                <td>{{ general_setting.slogan }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ general_setting.logo }}</td>
            </tr>
            <tr>
                <th>DescriptionHome</th>
                <td>{{ general_setting.descriptionHome }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ general_setting.link }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_web_general_settings_index') }}">back to list</a>

    <a href="{{ path('app_admin_web_general_settings_edit', {'id': general_setting.id}) }}">edit</a>

    {{ include('admin_web_general_settings/_delete_form.html.twig') }}
{% endblock %}
