{% extends 'adminWeb.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1 class="title_level_1">Edit Article</h1>
    <div class="row">
    {% include "_part/asideAdmin.html.twig" %}
    {{ include('admin_web_article/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_web_article_index') }}"><button class="active">Retour a la liste</button></a>
    </div>
    {{ include('admin_web_article/_delete_form.html.twig') }}
{% endblock %}
