{% extends 'adminWeb.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1 class="title_level_1">Article index</h1>
    <div class="row">
   {% include "_part/asideAdmin.html.twig" %}
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>CreatedAt</th>
                    <th>UpdatedAt</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.title }}</td>
                    <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <div class="inline">
                            <a href="{{ path('app_admin_web_article_show', {'id': article.id}) }}">show</a>
                            <a href="{{ path('app_admin_web_article_edit', {'id': article.id}) }}">edit</a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ path('app_admin_web_article_new') }}"><button class="active">Créer nouvel article</button></a>
{% endblock %}
