
.row { 
    display: flex;
    flex-direction: row;
    gap: 10vw;
}

.row aside { 
    display: flex;
    flex-direction: column;
    gap: 20PX;
    height: auto;
}

table{ 
    border: 2px solid #F9FF00;
    max-width: 60vw;
    color: #000;
    font-family: "Open Sans";

}

td,th { 
    border: thin solid #FF00C7;
    width: 50%;
    padding: 5px;
    background-color: #fff;
    
}

.inline{
    display: inline-flex;
    gap: 20px;
}

.inline a { 
    border: 1px solid black;
    padding: 5px;
}


button.active{
    margin-top: 20px;
}

form div  {
    margin: 30px;
    border: #F9FF00 1px solid;
    padding: 10px;
    color: #fff;
  
}

.cke{
    width: 500px !important;
}

