/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].oneOf[1].use[1]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[4].oneOf[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].oneOf[1].use[3]!./assets/styles/app.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
  @import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
  /*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
    !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].oneOf[1].use[1]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[4].oneOf[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].oneOf[1].use[3]!./assets/styles/app.scss (1) ***!
    \*******************************************************************************************************************************************************************************************************************************************************************************/
  @import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);
  /*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
    !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].oneOf[1].use[1]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[4].oneOf[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].oneOf[1].use[3]!./assets/styles/app.scss (2) ***!
    \*******************************************************************************************************************************************************************************************************************************************************************************/
  /**
  * Reset global before edit website
  */
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  /**
  * origin default 
  */
  * {
    margin: 0;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /** 
  * media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /**
  * breatext overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    line-height: 1.2;
  }
  
  /**
  * variables for all site
  */
  @font-face {
    font-family: "Bebas Neue";
    src: url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"), format(ttf);
  }
  @font-face {
    font-family: "Open Sans";
    src: url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"), format(ttf);
  }
  h1, h2, h3, h4, h5, h6, button, small, span {
    font-family: "Bebas Neue";
  }
  
  p {
    font-family: "Open sans";
  }
  
  .tertiary__color {
    color: #FF00C7;
  }
  
  .title_level_1 {
    font-family: "Bebas Neue";
    font-size: 30px;
    width: auto;
    display: inline-flex;
    min-height: 80px;
    height: auto;
    border: 2px solid #F9FF00;
    border-radius: 10px;
    padding: 20px 60px;
    color: #F9FF00;
    background-color: #0A1326;
    border-radius: 10px;
    -webkit-box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px;
    -moz-box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px;
    box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px;
    transition: 0.2s;
    margin: 80px;
  }
  .title_level_1:hover {
    -webkit-box-shadow: #0A1326 -5px 5px 0px -2px, #FF00C7 -5px 5px;
    -moz-box-shadow: #0A1326 -5px 5px 0px -2px, #FF00C7 -5px 5px;
    box-shadow: #0A1326 -5px 5px 0px -2px, #FF00C7 -5px 5px;
    border-radius: 5px;
    transition: 0.2s;
  }
  
  .title__level__2 {
    font-family: "Bebas Neue";
    font-size: 40px;
    color: #F9FF00;
  }
  
  .title__level__3 {
    font-family: "Bebas Neue";
    font-size: 24px;
    color: #F9FF00;
  }
  
  label {
    font-family: "Open Sans";
    color: #fff;
  }
  
  button {
    background-color: #0A1326;
    padding: 10px 30px;
    border: 1px solid #0A1326;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
  }
  
  button.active {
    border: 2px solid #F9FF00;
    -webkit-box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px;
    -moz-box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px;
    box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px;
    border-radius: 10px;
    color: #F9FF00;
    transition: 0.5s;
  }
  
  button.active:hover {
    -webkit-box-shadow: #0A1326 -5px 5px 0px -2px, #FF00C7 -5px 5px;
    -moz-box-shadow: #0A1326 -5px 5px 0px -2px, #FF00C7 -5px 5px;
    box-shadow: #0A1326 -5px 5px 0px -2px, #FF00C7 -5px 5px;
    transition: 0.5s;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0A1326;
    height: auto;
  }
  
  .sandbox {
    height: auto;
    min-height: 800px;
    width: 100%;
    background-color: #0A1326;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 300px;
    height: 170px;
    background-color: #0A1326;
    top: 0;
    padding: 0px 1%;
    position: sticky;
    z-index: 500;
  }
  
  header .wrapper {
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
  }
  @media (max-width: 1000px) {
    header .wrapper {
      margin: 0 5vw;
    }
  }
  
  .burger {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  
  .top, .middle, .bottom {
    height: 9px;
    width: 40px;
    border-radius: 10px;
    transition: 0.5s;
  }
  
  .top, .bottom {
    border: 2px solid #F9FF00;
  }
  
  .middle {
    border: 2px solid #FF00C7;
  }
  
  .open .top {
    transform: rotate(45deg) translateY(20px) translateX(15px);
    transition: 0.5s;
  }
  
  .open .bottom {
    transform: rotate(-45deg);
    transition: 0.5s;
  }
  
  .open .middle {
    transform: rotate(-45deg) translateY(10px) translateX(-10px);
    transition: 0.5s;
  }
  
  .menu {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 50px;
    height: 90vh;
    width: 30vw;
    background-color: #0A1326;
    border: 2px solid #F9FF00;
    border-radius: 10px;
    transition: 0.5s;
  }
  .menu ul li {
    transition: 1s;
  }
  @media (max-width: 500px) {
    .menu {
      width: 80vw;
    }
  }
  .menu ul li a:hover {
    color: #FF00C7;
    transition: 0.5s;
  }
  
  .menu.close {
    height: 0vh;
    width: 0vw;
    border: none;
    transition: 0.5s;
  }
  .menu.close ul li {
    font-size: 0;
    transition: 0.2s;
  }
  
  .logo {
    width: auto;
    height: 80px;
    border: 2px solid #F9FF00;
    border-radius: 10px;
    padding: 20px;
    color: #F9FF00;
    background-color: #0A1326;
    border-radius: 10px;
    -webkit-box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px;
    -moz-box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px;
    box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px;
    transition: 0.8s;
  }
  .logo span {
    color: #FF00C7;
  }
  
  .logo:hover {
    -webkit-box-shadow: #0A1326 -5px 5px 0px -2px, #FF00C7 -5px 5px;
    -moz-box-shadow: #0A1326 -5px 5px 0px -2px, #FF00C7 -5px 5px;
    box-shadow: #0A1326 -5px 5px 0px -2px, #FF00C7 -5px 5px;
    border-radius: 5px;
    transition: 0.8s;
    color: #FF00C7;
  }
  .logo:hover span {
    color: #F9FF00;
  }
  
  .logo.footer {
    border: none;
    box-shadow: none;
    font-size: 40px;
  }
  
  .hero__wrapper {
    display: flex;
    justify-content: space-around;
    height: auto;
    min-height: 500px;
    width: 100%;
    max-width: 1300px;
  }
  @media (max-width: 800px) {
    .hero__wrapper {
      flex-direction: column;
      gap: 50px;
      align-items: center;
    }
  }
  
  .article__container {
    display: flex;
    flex-direction: column;
    width: 560px;
    border: 2px solid #F9FF00;
    -webkit-box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px;
    -moz-box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px;
    box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px;
    transition: 0.5s;
    border-radius: 10px;
    padding-top: 40px;
    color: #fff;
  }
  .article__container:hover {
    -webkit-box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px, #FF00C7 -10px 15px 50px -9px;
    -moz-box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px, #FF00C7 -10px 15px 50px -9px;
    box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px, #FF00C7 -10px 15px 50px -9px;
    transition: 0.5s;
  }
  @media (max-width: 800px) {
    .article__container {
      width: 80%;
    }
  }
  
  .article__title {
    margin: 20px 0;
  }
  
  .article_text {
    padding: 0 5%;
  }
  
  .article_image {
    width: 390px;
    transition: 1s;
  }
  .article_image:hover {
    filter: drop-shadow(1px 2px 2px #F9FF00);
    transition: 2s;
  }
  
  .article__btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 150px;
    justify-content: space-around;
  }
  @media (max-width: 800px) {
    .article__btn {
      flex-direction: column-reverse;
      height: 300px;
    }
  }
  
  .project__wrapper, .article__wrapper, .photo__wrapper {
    width: 100%;
    max-width: 1300px;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  @media (max-width: 820px) {
    .project__wrapper, .article__wrapper, .photo__wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 90%;
    }
  }
  
  .photo__wrapper {
    min-height: 300px;
  }
  
  .wrapper__row {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1300px;
    height: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .link__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 80px;
  }
  .link__row a {
    font-size: 20px;
    position: relative;
    color: #F9FF00;
    width: max-content;
  }
  @media (max-width: 800px) {
    .link__row a {
      margin: 20px;
    }
  }
  .link__row a::after {
    content: "";
    height: 2px;
    width: 30%;
    background-color: #F9FF00;
    bottom: -5px;
    left: 0;
    z-index: 1;
    position: absolute;
    transition: 0.4s;
  }
  .link__row a:hover::after {
    width: 100%;
    transition: 0.4s;
  }
  
  .article__col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    gap: 40px;
  }
  
  .full__wrapper {
    width: 100vw;
    height: 550px;
    position: relative;
    display: flex;
    align-items: center;
  }
  .full__wrapper img {
    border-radius: 0;
    object-position: center;
  }
  
  .content {
    width: 100%;
    margin: 0 350px;
  }
  @media (max-width: 810px) {
    .content {
      margin: 0 10%;
      width: 80vh;
    }
  }
  @media (max-width: 400px) {
    .content {
      margin: 0;
      width: 80vh;
    }
  }
  
  section.single__article {
    border: 2px solid #F9FF00;
    padding: 20px;
    text-align: center;
    height: auto;
    width: 90vw;
    max-width: 1300px;
    margin: 10vw;
    justify-content: center;
  }
  section.single__article h1 {
    margin-bottom: 20px;
  }
  section.single__article p {
    color: #fff;
    margin: 10px;
  }
  
  .cards__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
  }
  @media (max-width: 800px) {
    .cards__row {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  }
  
  .card__primary {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 30px;
    border: 2px solid #F9FF00;
    border-radius: 10px;
    height: 290px;
    width: 380px;
    color: #F9FF00;
  }
  @media (max-width: 800px) {
    .card__primary {
      width: 300px;
    }
  }
  
  .card__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: none;
    z-index: 2;
  }
  .card__content h3 {
    font-size: 30px;
  }
  .card__content small {
    margin: 20px 0;
    font-size: 20px;
  }
  .card__content a {
    font-family: "Bebas Neue";
    font-size: 20px;
    position: relative;
    width: max-content;
  }
  .card__content a::after {
    content: "";
    height: 2px;
    width: 20%;
    background-color: #F9FF00;
    bottom: -5px;
    left: 0;
    z-index: 1;
    position: absolute;
    transition: 0.4s;
  }
  .card__content a:hover::after {
    width: 100%;
    transition: 0.4s;
  }
  
  .background__absolute {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 10px;
    object-fit: cover;
    z-index: 0;
    opacity: 0.1;
  }
  
  .background__absolute.lighter {
    opacity: 1;
  }
  
  .article__large {
    display: flex;
    justify-content: flex-end;
    width: 700px;
    height: 600px;
    border: 2px solid #F9FF00;
    border-radius: 10px;
    position: relative;
    z-index: 2;
  }
  @media (max-width: 800px) {
    .article__large {
      max-width: 80vw;
    }
  }
  
  .article__content__wrapp {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #0A1326;
    opacity: 0.8;
    height: 100%;
    width: 300px;
    padding: 30px;
    border-radius: 0px 10px 10px 0px;
    color: #fff;
    gap: 20px;
  }
  @media (max-width: 800px) {
    .article__content__wrapp {
      max-width: 80vw;
    }
  }
  @media (max-width: 400px) {
    .article__content__wrapp {
      border-radius: 10px;
    }
  }
  
  .article__small {
    width: 500px;
    height: 280px;
    border: 2px solid #F9FF00;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  @media (max-width: 800px) {
    .article__small {
      max-width: 80vw;
    }
  }
  
  .photo__header__wrapper {
    border: 2px solid #F9FF00;
    min-height: 300px;
    width: 50vw;
    position: relative;
    border-radius: 10px;
    background-color: rgba(10, 19, 38, 0.9333333333);
    position: relative;
    z-index: 2;
  }
  @media (max-width: 800px) {
    .photo__header__wrapper {
      width: 80vw;
    }
  }
  .photo__header__wrapper .article__content__wrapp {
    position: absolute;
    z-index: 10;
    border-radius: 10px;
    background-color: transparent;
  }
  
  .article__large.contact__wrapp {
    width: 100%;
    max-width: 1300px;
  }

 .contact__wrapp div {
    display: flex;
    flex-direction: column;
 } 
  
  .article__row {
    display: flex;
    flex-direction: row;
   /* width: 100%;*/
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  .article__row .article__small {
    min-width: 45%;
    height: auto;
    min-height: 150px;
  }
  
  .card__primary__competence {
    border: 2px solid #F9FF00;
    border-radius: 10px;
    min-height: 300px;
    height: auto;
    min-width: 350px;
    max-width: 45%;
    padding: 1vw;
  }
  .card__primary__competence h3 {
    margin-bottom: 25px;
  }
  .card__primary__competence ul {
    font-family: "open sans";
    display: flex;
    flex-wrap: wrap;
    color: #F9FF00;
  }
  .card__primary__competence ul li {
    border: 2px solid #F9FF00;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
  }
  .card__primary__competence ul li:hover {
    border: 2px solid #FF00C7;
    transition: 0.5s;
  }
  

  /**
  * contact
  */
  .article__large.contact__wrapp {
    justify-content: space-around;
    align-items: center;
    -webkit-box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px;
    -moz-box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px;
    box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px;
    transition: 0.5s;
    max-width: 90vw;
  }
  @media (max-width: 700px) {
    .article__large.contact__wrapp {
      flex-direction: column;
      height: 900px;
    }
    .article__large.contact__wrapp h3 {
      margin: 50px;
    }
  }
  .article__large.contact__wrapp:hover {
    -webkit-box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px, #FF00C7 -10px 15px 50px -9px;
    -moz-box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px, #FF00C7 -10px 15px 50px -9px;
    box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px, #FF00C7 -10px 15px 50px -9px;
    transition: 0.5s;
  }
  
  .contact__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 80vw;
  }

  .contact__form div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 80vw;
  }


  .contact__form input, .contact__form textarea {
    background-color: #0A1326;
    border: none;
    outline: none;
    color: #fff;
    font-size: 17px;
  }
  .contact__form input {
    height: 30px;
    border-bottom: 2px solid #F9FF00;
    max-width: 80%;
    transition: 0.5s;
  }
  .contact__form input:focus {
    border: 2px solid #F9FF00;
    max-width: 100%;
    transition: 0.5s;
  }
  .contact__form input:focus-visible {
    outline: none;
  }
  .contact__form textarea {
    border: 2px solid #F9FF00;
    border-radius: 10px;
    height: 150px;
    width: 280px;
    padding: 20px;
  }
  .contact__form button {
    margin-top: 20px;
    max-width: 50%;
  }

  .contact__form div:nth-child(5){ 
    display: flex;
    flex-direction: row-reverse;
  }


  /**
  * Article Show
  */
  section.article__show { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    margin:2%;
    
  }

  aside { 
    height: 600px;
    width: 20vw;
    min-width: 250px;
    border: #FF00C7 2px solid;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
    font-family: "Open sans";
    margin: 0 20px;
    -webkit-box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px;
    -moz-box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px;
    box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px;

  }

  aside .aside__article{ 
    display: flex;
    flex-direction: column;
    border-bottom: #F9FF00 1px solid;
    margin-top: 15px;
    padding: 10px;
    gap: 5px;
  }
  aside .aside__article h4{ 
    font-family: "Open sans";
    font-size: 16px;
  }

  aside .aside__article a{ 
    font-family: "Open sans";
    font-size: 16px;
    color: #F9FF00;
    padding: 10px;
    border: #FF00C7 1px solid;
    -webkit-box-shadow: #0A1326 -5px 5px 0px -2px, #FF00C7 -5px 5px;
    -moz-box-shadow:  #0A1326 -5px 5px 0px -2px, #FF00C7 -5px 5px;
    box-shadow:  #0A1326 -5px 5px 0px -2px, #FF00C7 -5px 5px;
    border-radius: 10px;
    width: max-content;
    transition: 0.2s;
    margin-bottom: 10px;


  }

  aside .aside__article a:hover{ 
    -webkit-box-shadow: #0A1326 -2px 2px 0px -2px, #FF00C7 -2px 2px;
    -moz-box-shadow:  #0A1326 -2px 2px 0px -2px, #FF00C7 -2px 2px;
    box-shadow:  #0A1326 -2px 2px 0px -2px, #FF00C7 -2px 2px;
    transition: 0.2s;

  }


  aside p.aside__title {
    font-family: "Open sans";
    font-size: 20px;
    position: relative;
    width: max-content;
  }

  aside p.aside__title::after { 
    content: "";
    height: 1px;
    width: 100%;
    background-color: #F9FF00;
    bottom: -5px;
    left: 0;
    z-index: 1;
    position: absolute;
  }


  section.article__show article { 
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    max-width: 70vw;

  }

  .article__img img { 
    width: 80%;
    object-fit: cover;
    max-width: 1300px;
  }

  div.article__content { 

    padding: 2vw;
    border: #F9FF00 3px solid;
    border-radius: 10px;
    background-color: #fff;
    max-width: 50vw;
    min-width: 350px ;
  }

  .article__categ { 
    padding: 5px;
    border: #FF00C7 1px solid;
    border-radius: 10px;
    color: #F9FF00;
  }


  /**
  * Section Share
  */

  section.share { 
    height: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 50px 20px 0px 20px;
  
  }

  .share__content { 
    border: #F9FF00 3px solid;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    -webkit-box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px;
    -moz-box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px;
    box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px;
    transition: 0.5s;
  }

  .share__content:hover{
    -webkit-box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px, #FF00C7 -10px 15px 50px -9px;
    -moz-box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px, #FF00C7 -10px 15px 50px -9px;
    box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px, #FF00C7 -10px 15px 50px -9px;
    transition: 0.5s;
  }

  .share__content div { 
    margin-top: 20px;
    display: flex ;
    gap: 20px;
  }
  .share__content i {
    color: #fff;
    font-size: 30px;
    transition: 0.2s;
  }
  .share__content i:hover {
    color: #F9FF00;
    font-size: 35px;
    transition: 0.2s;
  
  }
  .share__content h4 {
    font-family: 'Open sans';
    color: #fff;
    font-size: 20px;
    transition: 0.2s;
  }

/**
*services section
*/
.services__wrapp {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 90vw;
  height: auto;
  flex-wrap: wrap;
  padding: 10px;
}

.article__large.service {
  width: 100%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  height: auto;
  background-image: linear-gradient(to top, rgba(10, 19, 38, 0.5), rgba(255, 0, 199, 0.3)), url("https://www.toptal.com/designers/subtlepatterns/uploads/papyrus-dark.png");
  background-repeat: repeat;
}

.services {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.services__col {
  flex: 1;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.services__col p {
  color: #fff;
}

.services .service {
  height: 250px;
  width: 250px;
  border: 1px solid yellow;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #F9FF00;
  transition: 0.5s;
  font-family: "open-sans";
  padding: 20px;
}
.services .service:hover {
  -webkit-box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px, #FF00C7 -10px 15px 50px -9px;
  -moz-box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px, #FF00C7 -10px 15px 50px -9px;
  box-shadow: #0A1326 -10px 10px 0px -2px, #FF00C7 -10px 10px, #FF00C7 -10px 15px 50px -9px;
  background-color: #0A1326;
  color: #F9FF00;
  transition: 0.5s;
}

.services__lists {
  flex: 1;
  display: flex;
}

/**
* End  services
*/




  /**
  * Footer
  */
  
  footer {
    width: 100%;
    max-width: 1300px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  @media (max-width: 800px) {
    footer {
      margin-top: 50px;
    }
  }
  footer .row {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 100px;
    justify-content: space-around;
    width: auto;
  }
  footer ul {
    font-family: "open sans";
    color: #fff;
    font-size: 20px;
  }
  footer ul li {
    padding: 10px;
  }
  footer ul li:hover {
    color: #F9FF00;
  }
  footer .footer__nav li:last-child {
    color: #F9FF00;
    font-size: 20px;
  }
  footer .footer__nav li:last-child:hover {
    color: #FF00C7;
  }


  footer .footer__nav img {
    width: 100px;
    height: auto;
  }

  
  /**
  *  Error Template
  **/

  .error__template{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    gap: 20px;

  }

  .error__template h2 { 
    color: #fff;
    font-size: 30px;
  }