<form method="post" action="{{ path('app_admin_web_category_project_delete', {'id': category_project.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category_project.id) }}">
    <button class="btn active">Delete</button>
</form>
