{% extends 'base.html.twig' %}

{% block title %}Edit CategoryProject{% endblock %}

{% block body %}
    <h1>Edit CategoryProject</h1>

    {{ include('admin_web_category_project/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_web_category_project_index') }}">back to list</a>

    {{ include('admin_web_category_project/_delete_form.html.twig') }}
{% endblock %}
