{% extends 'adminWeb.html.twig' %}

{% block title %}CategoryProject index{% endblock %}

{% block body %}
   <h1 class="title_level_1">Liste de Categorie de Projets</h1>
    <div class="row">
    {% include "_part/asideAdmin.html.twig" %}
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>ImageName</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for category_project in category_projects %}
                <tr>
                    <td>{{ category_project.id }}</td>
                    <td>{{ category_project.name }}</td>
                    <td>{{ category_project.imageName }}</td>
                    <td>
                        <a href="{{ path('app_admin_web_category_project_show', {'id': category_project.id}) }}">show</a>
                        <a href="{{ path('app_admin_web_category_project_edit', {'id': category_project.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ path('app_admin_web_category_project_new') }}"><button class="active">Créer nouvel</button></a>
{% endblock %}
