{% extends 'adminWeb.html.twig' %}

{% block title %}Nouvelle catégorie de projet{% endblock %}

{% block body %}
    <h1 class="title_level_1">Nouvelle catégorie de projet</h1>
    <div class="row">
    {% include "_part/asideAdmin.html.twig" %}
    {{ include('admin_web_category_project/_form.html.twig') }}
    </div>
    <a href="{{ path('app_admin_web_category_project_index') }}"><button class="active">Retour a la liste</button></a>
{% endblock %}
