{% extends 'adminWeb.html.twig' %}

{% block title %}CategoryProject{% endblock %}

{% block body %}
    <h1>CategoryProject</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category_project.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category_project.name }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ category_project.imageName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_web_category_project_index') }}">back to list</a>

    <a href="{{ path('app_admin_web_category_project_edit', {'id': category_project.id}) }}">edit</a>

    {{ include('admin_web_category_project/_delete_form.html.twig') }}
{% endblock %}
