<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{ generalSettings.Title }}{% endblock %}</title>
        <meta name="description" content= {{ generalSettings.metaDescriptionContent |slug  }} >

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('icon') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('burger') }}
            {{ encore_entry_script_tags('script') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block footer %}
        {% endblock %}
    </body> 
</html>
