{% extends 'base.html.twig' %}

{% block title %}{{ generalSettings.title}}-{{ page.title }}{% endblock %}


{% block body %}

    {% include "_part/navigation.html.twig" %}

    <h2> {{page.title}}  </h2>
    <p> {{ page.content|raw }}</p> 

   {% include "_part/footer.html.twig" %}

{% endblock %}
