<form method="post" action="{{ path('app_admin_web_custom_page_delete', {'id': custom_page.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ custom_page.id) }}">
    <button class="btn">Delete</button>
</form>
