{% extends 'adminWeb.html.twig' %}

{% block title %}CustomPage index{% endblock %}

{% block body %}
    <h1 class="title_level_1">CustomPage index</h1>

    <div class="row">
        {% include "_part/asideAdmin.html.twig" %}
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Url</th>
                    <th>CreatedAt</th>
                    <th>UpdateAt</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for custom_page in custom_pages %}
                <tr>
                    <td>{{ custom_page.id }}</td>
                    <td>{{ custom_page.title }}</td>
                    <td>{{ custom_page.content }}</td>
                    <td>{{ custom_page.url }}</td>
                    <td>{{ custom_page.createdAt ? custom_page.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ custom_page.updateAt ? custom_page.updateAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <div class="inline">
                            <a href="{{ path('app_admin_web_custom_page_show', {'id': custom_page.id}) }}">show</a>
                            <a href="{{ path('app_admin_web_custom_page_edit', {'id': custom_page.id}) }}">edit</a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ path('app_admin_web_custom_page_new') }}"><button  class="active" >Créer nouveau</button></a>
{% endblock %}
