{% extends 'adminWeb.html.twig' %}


{% block title %}CustomPage{% endblock %}

{% block body %}
    <h1 class="title_level_1">CustomPage</h1>
    <div class="row">
   {% include "_part/asideAdmin.html.twig" %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ custom_page.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ custom_page.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ custom_page.content }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ custom_page.url }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ custom_page.createdAt ? custom_page.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdateAt</th>
                <td>{{ custom_page.updateAt ? custom_page.updateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_web_custom_page_index') }}" class="active">retour a la liste</a>

    <a href="{{ path('app_admin_web_custom_page_edit', {'id': custom_page.id}) }}"class="active">édition</a>

    {{ include('admin_web_custom_page/_delete_form.html.twig') }}
{% endblock %}
