{% extends 'adminWeb.html.twig' %}

{% block title %}Edit CategoryCompetence{% endblock %}

{% block body %}
    <h1 class="title_level_1">Edit CategoryCompetence</h1>
    <div class="row">
    {% include "_part/asideAdmin.html.twig" %}
    {{ include('admin_web_category_competence/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

    <a href="{{ path('app_admin_web_category_competence_index') }}"><button class="active">Retour a la liste</button></a>

    {{ include('admin_web_category_competence/_delete_form.html.twig') }}
{% endblock %}
