{% extends 'adminWeb.html.twig' %}

{% block title %}CategoryCompetence index{% endblock %}

{% block body %}
   <h1 class="title_level_1">CategoryCompetence index</h1>
    <div class="row">
    {% include "_part/asideAdmin.html.twig" %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category_competence in category_competences %}
            <tr>
                <td>{{ category_competence.id }}</td>
                <td>{{ category_competence.name }}</td>
                <td>
                    <div class="inline">
                    <a href="{{ path('app_admin_web_category_competence_show', {'id': category_competence.id}) }}">show</a>
                    <a href="{{ path('app_admin_web_category_competence_edit', {'id': category_competence.id}) }}">edit</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <a href="{{ path('app_admin_web_category_competence_new') }}"><button class="active">Créer nouveau</button></a>
{% endblock %}
