{% extends 'adminWeb.html.twig' %}

{% block title %}CategoryCompetence{% endblock %}

{% block body %}
  <h1 class="title_level_1">CategoryCompetence</h1>
    <div class="row">
    {% include "_part/asideAdmin.html.twig" %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category_competence.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category_competence.name }}</td>
            </tr>
        </tbody>
    </table>
    </div>

    <a href="{{ path('app_admin_web_category_competence_index') }}"><button class="active">Retour a la liste</button></a>

    <a href="{{ path('app_admin_web_category_competence_edit', {'id': category_competence.id}) }}"><button class="active">edit</button></a>

    {{ include('admin_web_category_competence/_delete_form.html.twig') }}
{% endblock %}
