{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="error__template">
        <h1 class="title_level_1">La page n'a pas été trouvé</h1>
        <h2 class="title_level_2">Erreur Type 404</h2>
        <p>
        Désolé, la page que vous cherchez n'existe pas sur le serveur vous pouvez 
        </p>
          <a href="{{ path('app_main') }}"><button class="active"> retournez a l'accueil</button></a>
    </div>
{% endblock %}