{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="error__template">
        <h1 class="title_level_1"> Internal Server Error</h1>
        <h2 class="title_level_2">Erreur Type 403</h2>
        <h2 class="title_level_2">FORBIDDEN</h2>

        <p>
        L’affichage de ce message indique que l’accès à la ressource demandée est limité et le serveur web refuse de vous transmettre le contenu souhaité.
        Vous pouvez : 
        </p>
          <a href="{{ path('app_main') }}"><button class="active"> retournez a l'accueil</button></a>
    </div>
{% endblock %}