{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="error__template">
        <h1 class="title_level_1"> Internal Server Error</h1>
        <h2 class="title_level_2">Erreur Type 500</h2>
        <p>
       La requête envoyée par le navigateur n'a pas pu être traitée pour une raison qui n'a pas pu être identifiée. vous pouvez 
        </p>
          <a href="{{ path('app_main') }}"><button class="active"> retournez a l'accueil</button></a>
    </div>
{% endblock %}