{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="error__template">
        <h1 class="title_level_1"> Internal Server Error</h1>
        <h2 class="title_level_2">Erreur Type 504</h2>
        <h2 class="title_level_2">Gateway timeout</h2>

        <p>
         Le serveur web attend trop longtemps une réponse d'un autre serveur et dépasse le délai.
        Vous pouvez : 
        </p>
          <a href="{{ path('app_main') }}"><button class="active"> retournez a l'accueil</button></a>
    </div>
{% endblock %}