{% extends 'base.html.twig' %}

{% block title %}{{ generalSettings.title}}- Tous les articles{% endblock %}

{% block body %}
   {% include "_part/navigation.html.twig" %}
<section class="article__wrapper">
   
    <h1 class="title_level_1">Tous les articles</h1>
    <div class="wrapper__row">
        <div class="article__row">
        {% for article in articles %}
            <article class="article__small" >
                <img src="{{  vich_uploader_asset(article, 'imageFile') | imagine_filter('article_thumb')}}" alt="{{ article.alternativeText}}" class="background__absolute lighter">
                <div class="article__content__wrapp">
                    <h3 class="title__level__2">{{article.title}}</h3>
                    <small>Catégory <span class="tertiary__color">{{article.category.name}}</span></small>  
                    <p>{{ article.content |u.truncate(50)|raw }} ...</p>
                    <a href=" {{ path('app_article_show', {'id': article.id}) }} "><button class="active">Lire la suite</button></a>
                </div>
            </article>
        {% endfor %}
        </div>
    </div>
</section>
   {% include "_part/footer.html.twig" %}
{% endblock %}
