{% extends 'base.html.twig' %}

{% block title %}{{article.title}}{% endblock %}
{% block body %}
{% include "_part/navigation.html.twig" %}
    <div class="article__img">
    <img src="{{  vich_uploader_asset(article, 'imageFile') | imagine_filter('article')}}" alt="{{ article.alternativeText}}" class="article__show__image">
    </div>
    <section class="article__show">
        <article>
            <h1 class="title__level__2">{{article.title}}</h1>
            <span class="article__categ">Dans la catégorie :  {{ article.category.name }}</span>
            <span class="article__categ">Publié le : {{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</span>
           
            <div class="article__content"> {{ article.content | raw}}</div>
        </article>

        <aside>
        <p class="aside__title">Lire d'autres articles :</p> 
            {% for article in articles | slice(0,3) %}
                <div class="aside__article">
                        <h4> {{article.title}} </h4>
                        <small>Catégorie : {{article.category.name}}</small> 
                        <a href=" {{ path('app_article_show', {'id': article.id}) }} ">Lire la suite</a>
                </div>
            {% endfor %}
        </aside>
    </section>
    <section class="share">
        <div class="share__content">
            <h4>Partager l'article</h4>
            <div>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri|url_encode  }}"><i class="bi bi-facebook"></i></a> 
                <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ app.request.uri | url_encode}}&title={{ article.title | url_encode }}"><i class="bi bi-linkedin"></i></a>
            {# TODO   <a href="{{ app.request.uri | url_encode}}&title={{ article.title | url_encode }}"><i class="bi bi-share"></i></a> #}
            </div>      
        </div>
    </section>

{% endblock %}

{% block footer %}
   {% include "_part/footer.html.twig" %}
{% endblock %} 
