{% extends 'base.html.twig' %}

{% block title %}{{ generalSettings.title}}- Tous les projets{% endblock %}

{% block body %}
   {% include "_part/navigation.html.twig" %}

        <section class="article__wrapper">
    <h1 class="title_level_1">Tous les projets</h1>
    <div class="wrapper__row">
        <div class="article__row">
               {% for project in projects %}
            <div class="card__primary">
                <img src="{{  vich_uploader_asset(project.categoryProject, 'imageFile') }}" alt="" class="background__absolute">
                <div class="card__content">
                    <h3 class="title__level__2">{{project.name}}</h3>
                       
                        <small>dev with <span class="tertiary__color">{{project.categoryProject.name}}</span></small>
                    {% if project.gitRepo %}
                        <a href=" {{project.gitRepo}} "><i class="bi bi-git"> </i>GIT REPOSITORY</a>
                    {% endif %}
                    {% if project.linkDemo %}
                        <a href=" {{project.linkDemo}} ">DEMO</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
gitRepo
   {% include "_part/footer.html.twig" %}

{% endblock %}
